In [36]:
import pandas as pd,\
        os

In [37]:
caminho_do_arquivo = os.path.join(os.path.expanduser("c:\\Data\\"), "Mega-Sena.xlsx")

In [38]:
# Use a função read_excel para ler o arquivo Excel e criar um DataFrame
df = pd.read_excel(caminho_do_arquivo, sheet_name="MEGA SENA")

In [39]:
df

,Concurso,Data do Sorteio,Bola1,Bola2,Bola3,Bola4,Bola5,Bola6,Ganhadores 6 acertos,Cidade / UF,Rateio 6 acertos,Ganhadores 5 acertos,Rateio 5 acertos,Ganhadores 4 acertos,Rateio 4 acertos,Acumulado 6 acertos,Arrecadação Total,Estimativa prêmio,Acumulado Sorteio Especial Mega da Virada,Observação
0,1,11/03/1996,4,5,30,33,41,52,0,NaN,"R$0,00",17,"R$39.158,92",2016,"R$330,21","R$1.714.650,23","R$0,00","R$0,00","R$0,00",NaN
1,2,18/03/1996,9,37,39,41,43,49,1,PR,"R$2.307.162,23",65,"R$14.424,02",4488,"R$208,91","R$0,00","R$0,00","R$0,00","R$0,00",NaN
2,3,25/03/1996,10,11,29,30,36,47,2,RN; SP,"R$391.192,51",62,"R$10.515,93",4261,"R$153,01","R$0,00","R$0,00","R$0,00","R$0,00",NaN
3,4,01/04/1996,1,5,6,27,42,59,0,NaN,"R$0,00",39,"R$15.322,24",3311,"R$180,48","R$717.080,75","R$0,00","R$0,00","R$0,00",NaN
4,5,08/04/1996,1,2,6,16,19,46,0,NaN,"R$0,00",98,"R$5.318,10",5399,"R$96,53","R$1.342.488,85","R$0,00","R$0,00","R$0,00",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2664,2665,07/12/2023,3,14,21,22,37,39,0,NaN,"R$0,00",56,"R$43.607,57",3900,"R$894,51","R$25.216.681,21","R$42.355.435,00","R$30.000.000,00","R$106.775.001,90",NaN
2665,2666,09/12/2023,5,25,29,30,43,47,1,MARIANA/MG,"R$30.781.665,32",70,"R$43.157,02",4455,"R$968,73","R$0,00","R$52.397.280,00","R$3.000.000,00","R$107.569.999,65",NaN
2666,2667,12/12/2023,1,4,8,21,46,51,0,NaN,"R$0,00",65,"R$23.963,56",2005,"R$1.109,81","R$2.869.320,94","R$27.016.180,00","R$7.000.000,00","R$107.979.902,65",NaN
2667,2668,14/12/2023,1,27,30,41,46,57,0,NaN,"R$0,00",16,"R$110.323,58",1307,"R$1.929,36","R$6.120.963,38","R$30.615.940,00","R$10.000.000,00","R$108.444.423,02",NaN
2668,2669,16/12/2023,4,7,16,35,46,54,0,NaN,"R$0,00",64,"R$36.773,28",3317,"R$1.013,60","R$132.418.255,11","R$40.819.870,00","R$550.000.000,00","R$132.418.255,11",NaN

In [40]:
df.shape

(2669, 20)

In [41]:
df.drop(columns=['Concurso', 'Data do Sorteio', 'Ganhadores 6 acertos', 'Cidade / UF', \
       'Rateio 6 acertos', 'Ganhadores 5 acertos', 'Rateio 5 acertos', \
       'Ganhadores 4 acertos', 'Rateio 4 acertos', 'Acumulado 6 acertos',\
       'Arrecadação Total', 'Estimativa prêmio', \
       'Acumulado Sorteio Especial Mega da Virada', 'Observação'], axis=1, inplace=True)

In [42]:
df.shape

(2669, 6)

In [43]:
df

      Bola1  Bola2  Bola3  Bola4  Bola5  Bola6
0         4      5     30     33     41     52
1         9     37     39     41     43     49
2        10     11     29     30     36     47
3         1      5      6     27     42     59
4         1      2      6     16     19     46
...     ...    ...    ...    ...    ...    ...
2664      3     14     21     22     37     39
2665      5     25     29     30     43     47
2666      1      4      8     21     46     51
2667      1     27     30     41     46     57
2668      4      7     16     35     46     54

[2669 rows x 6 columns]

In [46]:
y = pd.get_dummies(df)
print(y.head())

   Bola1  Bola2  Bola3  Bola4  Bola5  Bola6
0      4      5     30     33     41     52
1      9     37     39     41     43     49
2     10     11     29     30     36     47
3      1      5      6     27     42     59
4      1      2      6     16     19     46

In [ ]:
df.pivot()