In [20]:
import pandas as pd,\
        os

In [58]:
caminho_do_arquivo = os.path.join(os.path.expanduser("c:\\Data\\"), "Mega-Sena.xlsx")
caminho_do_arquivo2 = os.path.join(os.path.expanduser("c:\\Data\\"), "teste.csv")

In [59]:
pd.read_csv(caminho_do_arquivo2, sep=";")

    teste    1234     abc
0  teste2    4332     zxc
1  teste3  345435  sdfdsf

In [62]:
# Use a função read_excel para ler o arquivo Excel e criar um DataFrame
df = pd.read_excel(caminho_do_arquivo, sheet_name="MEGA SENA")

In [69]:
df

     Data do Sorteio  Bola1  Bola2  Bola3  Bola4  Bola5  Bola6
0         11/03/1996      4      5     30     33     41     52
1         18/03/1996      9     37     39     41     43     49
2         25/03/1996     10     11     29     30     36     47
3         01/04/1996      1      5      6     27     42     59
4         08/04/1996      1      2      6     16     19     46
...              ...    ...    ...    ...    ...    ...    ...
2664      07/12/2023      3     14     21     22     37     39
2665      09/12/2023      5     25     29     30     43     47
2666      12/12/2023      1      4      8     21     46     51
2667      14/12/2023      1     27     30     41     46     57
2668      16/12/2023      4      7     16     35     46     54

[2669 rows x 7 columns]

In [70]:
df.shape

(2669, 7)